package plugins

{{ .imports }}

func RegisterDefaultPlugins() {
	runtime := cog.NewRuntime()

    // Panelcfg variants
{{- range $schema := index .init_map "panelcfg" }}
	runtime.RegisterPanelcfgVariant({{ $schema.Package | formatPkgName }}.VariantConfig())
{{- end }}

    // Dataquery variants
{{- range $schema := index .init_map "dataquery" }}
	runtime.RegisterDataqueryVariant({{ $schema.Package | formatPkgName }}.VariantConfig())
{{- end }}
}
