package plugins

{{ .imports }}

func RegisterDefaultPlugins() {
	{{- if or (ne (len .panel_schemas) 0) (ne (len .dataquery_schemas) 0) }}
	runtime := cog.NewRuntime()
	{{- end }}

    // Panelcfg variants
{{- range $schema := .panel_schemas }}
	runtime.RegisterPanelcfgVariant({{ $schema.Package | formatPackageName }}.VariantConfig())
{{- end }}

    // Dataquery variants
{{- range $schema := .dataquery_schemas }}
	runtime.RegisterDataqueryVariant({{ $schema.Package | formatPackageName }}.VariantConfig())
{{- end }}
}
