func (resource *{{ .def.Name }}) UnmarshalJSON(raw []byte) error {
	if raw == nil {
		return nil
	}

	// FIXME: this is wasteful, we need to find a more efficient way to unmarshal this.
	parsedAsMap := make(map[string]any)
	if err := json.Unmarshal(raw, &parsedAsMap); err != nil {
		return err
	}

	discriminator, found := parsedAsMap["{{ .hint.Discriminator }}"]
	if !found {
		return errors.New("discriminator field '{{ .hint.Discriminator }}' not found in payload")
	}

	switch discriminator {
{{- range $discriminatorValue, $typeName := .hint.DiscriminatorMapping }}
    {{- if eq $discriminatorValue "cog_discriminator_catch_all" }}
    default:
    {{- else }}
	case "{{ $discriminatorValue }}":
	{{- end }}
		var {{ $typeName|formatVariableName }} {{ $typeName|formatObjectName }}
		if err := json.Unmarshal(raw, &{{ $typeName|formatVariableName }}); err != nil {
			return err
		}

		resource.{{ $typeName|formatObjectName }} = &{{ $typeName|formatVariableName }}
		return nil
{{- end }}
	}

	return fmt.Errorf("could not unmarshal resource with `{{ .hint.Discriminator }} = %v`", discriminator)
}

