{{- $json := importStdPkg "encoding/json" -}}
{{- $fmt := importStdPkg "fmt" -}}
// MarshalJSON implements a custom JSON marshalling logic to encode `{{ .def.Name|formatObjectName }}` as JSON.
func (resource {{ .def.Name|formatObjectName }}) MarshalJSON() ([]byte, error) {
{{- range .def.Type.Struct.Fields }}
	if resource.{{ .Name|formatFieldName }} != nil {
		return json.Marshal(resource.{{ .Name|formatFieldName }})
	}
{{ end }}

{{- if .allowEmpty }}
	return []byte("null"), nil
{{- else }}
	return nil, fmt.Errorf("no value for disjunction of scalars")
{{- end }}
}
