func (resource *{{ .def.Name|upperCamelCase }}) UnmarshalJSON(raw []byte) error {
	if raw == nil {
		return nil
	}

	var errList []error
{{ range .def.Type.Struct.Fields }}
	// {{ .Name|upperCamelCase }}
	var {{ .Name }} {{ trimPrefix "*" (.Type | formatType) }}
	if err := json.Unmarshal(raw, &{{ .Name }}); err != nil {
		errList = append(errList, err)
		resource.{{ .Name|upperCamelCase }} = nil
	} else {
		resource.{{ .Name|upperCamelCase }} = {{ if and (ne .Type.Kind "array") (ne .Type.Kind "map") }}&{{ end }}{{ .Name }}
		return nil
	}
{{ end }}
	return errors.Join(errList...)
}

