func (resource {{ .def.Name }}) MarshalJSON() ([]byte, error) {
{{- range .def.Type.Struct.Fields }}
	if resource.{{ .Name }} != nil {
		return json.Marshal(resource.{{ .Name }})
	}
{{- end }}

	return nil, fmt.Errorf("no value for disjunction of refs")
}
