func (resource {{ .def.Name|upperCamelCase }}) MarshalJSON() ([]byte, error) {
{{- range .def.Type.Struct.Fields }}
	if resource.{{ .Name|upperCamelCase }} != nil {
		return json.Marshal(resource.{{ .Name|upperCamelCase }})
	}
{{- end }}

	return []byte("null"), nil
}

