func (resource {{ .def.Name|upperCamelCase }}) MarshalJSON() ([]byte, error) {
{{- range .def.Type.Struct.Fields }}
	if resource.{{ .Name|upperCamelCase }} != nil {
		return json.Marshal(resource.{{ .Name|upperCamelCase }})
	}
{{ end }}
	return nil, fmt.Errorf("no value for disjunction of scalars")
}

func (resource {{ .def.Name|upperCamelCase }}) MarshalYAML() (any, error) {
{{- range .def.Type.Struct.Fields }}
	if resource.{{ .Name|upperCamelCase }} != nil {
		return resource.{{ .Name|upperCamelCase }}, nil
	}
{{ end }}
	return nil, fmt.Errorf("no value for disjunction of scalars")
}
