func (resource *{{ .def.Name }}) UnmarshalJSON(raw []byte) error {
	if raw == nil {
		return nil
	}

	var errList []error
{{ range .def.Type.Struct.Fields }}
	// {{ .Name }}
	var {{ .Name|formatVariableName }} {{ trimPrefix "*" (.Type | formatType) }}
	if err := json.Unmarshal(raw, &{{ .Name|formatVariableName }}); err != nil {
		errList = append(errList, err)
		resource.{{ .Name }} = nil
	} else {
		resource.{{ .Name }} = {{ if ne .Type.Kind "array" }}&{{ end }}{{ .Name|formatVariableName }}
		return nil
	}
{{ end }}
	return errors.Join(errList...)
}

