{{- $json := importStdPkg "encoding/json" -}}
// MarshalJSON implements a custom JSON marshalling logic to encode `{{ .def.Name|formatObjectName }}` as JSON.
func (resource *{{ .def.Name|formatObjectName }}) MarshalJSON() ([]byte, error) {
	type {{ .def.Name | lowerCamelCase }} {{ .def.Name }}
	base, err := json.Marshal((*{{ .def.Name | lowerCamelCase }})(resource))
	if err != nil {
		return nil, err
	}
	
	var baseMap map[string]any
	if err := json.Unmarshal(base, &baseMap); err != nil {
	    return nil, err
	}
	
	for k, v := range resource.ExtraFields {
		baseMap[k] = v
	}
	
	return json.Marshal(baseMap)
}
