func VariantConfig() cogvariants.PanelcfgConfig {
	return cogvariants.PanelcfgConfig{
		Identifier: "{{ .schema.Metadata.Identifier|lower }}",
		{{- if .hasOptions }}
		OptionsUnmarshaler: func (raw []byte) (any, error) {
			options := &Options{}

			if err := json.Unmarshal(raw, options); err != nil {
				return nil, err
			}

			return options, nil
		},
		{{- end }}
		{{- if .hasFieldConfig }}
		FieldConfigUnmarshaler: func (raw []byte) (any, error) {
			fieldConfig := &FieldConfig{}

			if err := json.Unmarshal(raw, fieldConfig); err != nil {
				return nil, err
			}

			return fieldConfig, nil
		},
		{{- end }}
		{{- if .hasConverter }}
		GoConverter: func(inputPanel any) string {
			return PanelConverter(inputPanel.(*dashboard.Panel))
		},
		{{- end }}
	}
}

