package {{ .Converter.Package | formatPackageName }}

import (
    "fmt"
    "strings"
)

{{- define "guard" }}
    {{- if and (eq .Op "!=") (eq .Value nil) -}}
        {{ .Path | formatPath }} != nil
    {{- else -}}
        {{- $leftOperand := print (.Path.Last.Type | maybeDereference) (.Path | formatPath) -}}
        {{- $operator := .Op -}}
        {{- if eq .Op "minLength" -}}
            {{- $leftOperand = print "len(" $leftOperand ")" -}}
            {{- $operator = ">=" -}}
        {{- end -}}
        {{- if eq .Op "maxLength" -}}
            {{- $leftOperand = print "len(" $leftOperand ")" -}}
            {{- $operator = "<=" -}}
        {{- end -}}
        {{- $leftOperand }} {{ $operator}} {{ .Value | formatScalar -}}
    {{- end -}}
{{- end }}

{{- define "guards" }}
    {{- $guardsCount := (sub (len .) 1) -}}
    {{- range $i, $guard := . }}{{- template "guard" $guard }}{{ if ne $i $guardsCount }} && {{ end }}{{ end }}
{{- end }}

{{- define "constructor_arg" -}}
    fmt.Sprintf("%#v", {{ .ValueType | maybeDereference }}{{ .ValuePath | formatPath }})
{{- end }}

{{- define "old_prepare_arg" -}}
    {{- if ne .Arg.Builder nil -}}
        {{ if .Type.IsArray }}
            tmp{{ .IntoVar }} := []string{}
            for i := range {{ .Var }} {
            tmp{{ .IntoVar }} = append(tmp{{ .IntoVar }}, {{ .Arg.Builder.Name }}Converter({{- if not .Type.Array.ValueType.Nullable}}&{{ end }}{{ .Var }}[i]))
            }
            {{ .IntoVar }} := "{{ .Type | formatType }}{" + strings.Join(tmp{{ .IntoVar }}, ",\n") + "}"
        {{ else }}
            {{ .IntoVar }} := {{ .Arg.Builder.Name }}Converter({{- if not .Type.Nullable}}&{{ end }}{{ .Var }})
        {{ end }}
    {{- else -}}
        {{ if .Type.IsRef }}
            {{ .IntoVar }} := fmt.Sprintf("%#v", {{ .Type | maybeDereference }}{{ .Var }}) // ref
        {{ else if .Type.IsStruct }}
            {{ .IntoVar }} := fmt.Sprintf("%#v", {{ .Type | maybeDereference }}{{ .Var }}) // struct
        {{ else }}
            {{ .IntoVar }} := fmt.Sprintf("%#v", {{ .Type | maybeDereference }}{{ .Var }})
        {{ end }}
    {{- end -}}
{{- end }}

{{- define "prepare_arg" -}}
    {{- with .Arg.Builder -}}
        {{ if .ValueType.IsArray }}
            tmp{{ $.IntoVar }} := []string{}
            for i := range {{ .ValuePath | formatPath }} {
            tmp{{ $.IntoVar }} = append(tmp{{ $.IntoVar }}, {{ .BuilderName }}Converter({{- if not .ValueType.Array.ValueType.Nullable}}&{{ end }}{{ .ValuePath | formatPath }}[i]))
            }
            {{ $.IntoVar }} := "{{ .ValueType | formatType }}{" + strings.Join(tmp{{ $.IntoVar }}, ",\n") + "}"
        {{ else }}
        {{ $.IntoVar }} := {{ .BuilderName }}Converter({{- if not .ValueType.Nullable}}&{{ end }}{{ .ValuePath | formatPath }})
        {{ end }}
    {{- end -}}
    {{- with .Arg.Direct -}}
        {{ $.IntoVar }} := fmt.Sprintf("%#v", {{ .ValueType | maybeDereference }}{{ .ValuePath | formatPath }})
    {{- end -}}
{{- end }}

func {{ .Converter.BuilderName }}Converter(input *{{ .Converter.For.Name }}) string {
    {{- $constructorArgsCount := (sub (len .Converter.ConstructorArgs) 1) }}
    calls := []string{
        `{{ .Converter.Package|formatPackageName }}.New{{ .Converter.BuilderName }}Builder({{ with .Converter.ConstructorArgs}}`+{{ range $i, $arg := . }}{{ template "constructor_arg" $arg }}{{- if ne $i $constructorArgsCount }} + ", " +{{ end }}{{ end }}+`{{ end }})`,
    }

    {{- range .Converter.Mappings }}
    {{ with .Guards }}if {{ template "guards" . }}{{ end }}{
        var buffer strings.Builder

        {{ if ne .RepeatFor nil -}}
        {{- $arg := index .Args 0 -}}
        for _, {{ .RepeatAs }} := range {{ .RepeatFor | formatPath }} {
            {{ with $arg.Guards -}}
                if !({{ template "guards" . }}) {
                    continue
                }
            {{ end }}
            buffer.WriteString(`{{ .Option.Name | upperCamelCase }}(`)
            {{ template "prepare_arg" (dict "IntoVar" "arg" "Arg" $arg) }}
            buffer.WriteString(arg)
            buffer.WriteString(")")

            calls = append(calls, buffer.String())
            buffer.Reset()
        }
        {{- else }}
        buffer.WriteString(`{{ .Option.Name | upperCamelCase }}(`)
        {{- $argsCount := (sub (len .Args) 1) -}}
        {{- range $i, $arg := .Args }}
            {{- $intoVar := print "arg" $i }}
            {{ template "prepare_arg" (dict "IntoVar" $intoVar "Arg" $arg) }}
            buffer.WriteString({{ print "arg" $i }})
            {{- if ne $i $argsCount }}
                buffer.WriteString(", ")
            {{- end }}
        {{- end }}
        buffer.WriteString(")")

        calls = append(calls, buffer.String())
        {{- end }}
    }
    {{- end }}

    return strings.Join(calls, ".\t\n")
}
