package {{ .Package }}

import (
{{ range $alias, $importPath := .Imports }}
    {{ $alias }} "{{ $importPath }}"
{{- end }}
)

var _ cog.Builder[{{ .ObjectName }}] = (*{{ .ObjectName }}Builder)(nil)

type {{ .BuilderName }}Builder struct {
    internal *{{ .BuilderName }}
    errors map[string]cog.BuildErrors
}

func New{{ .BuilderName }}Builder() *{{ .BuilderName }}Builder {
	resource := &{{ .BuilderName }}{}
	builder := &{{ .BuilderName }}Builder{
		internal: resource,
		errors: make(map[string]cog.BuildErrors),
	}

	builder.applyDefaults()

	return builder
}

func (builder *{{ .BuilderName }}Builder) Build() ({{ .ObjectName }}, error) {
	var errs cog.BuildErrors

	for _, err := range builder.errors {
		errs = append(errs, cog.MakeBuildErrors("{{ .BuilderName }}", err)...)
	}

	if len(errs) != 0 {
		return {{ .ObjectName }}{}, errs
	}

	return *builder.internal, nil
}
{{- range .Options }}

{{ range .Comments -}}
// {{ . }}
{{- end }}
func (builder *{{ $.BuilderName }}Builder) {{ .Name }}({{- template "args" .Args }}) *{{ $.BuilderName }}Builder {
    {{- range .Assignments }}
        {{- template "constraints" .Constraints }}
        {{- range .InitSafeguards }}
        {{ . }}
        {{- end }}
        {{- if eq .ValueType "constant" }}
            {{- if .IntoNullable }}
                val{{ .Path }} := {{ .Value }}
                {{- template "method" (dict "Method" .Method "Path" .Path "Value" (print "&val" .Path)) }}
            {{- else }}
                {{- template "method" (dict "Method" .Method "Path" .Path "Value" .Value) }}
            {{- end }}
        {{- else if eq .ValueType "assigment" }}
            {{- $value := maybeAsPointer .IntoNullable .Value }}

            {{- if .IsBuilder }}
            resource, err := {{ .Value }}.Build()
            if err != nil {
                builder.errors["{{ .Path }}"] = err.(cog.BuildErrors)
                return builder
            }
            {{- $value = maybeAsPointer .IntoNullable "resource" }}
            {{- template "method" (dict "Method" .Method "Path" .Path "Value" $value) }}
            {{- else }}
            {{- template "method" (dict "Method" .Method "Path" .Path "Value" $value) }}
            {{- end }}
        {{- else if eq .ValueType "envelope" }}
            {{- template "method" (dict "Method" .Method "Path" .Path "Value" .Value) }}
        {{- end }}
    {{- end }}

    return builder
}
{{- end }}

func (builder *{{ .DefaultBuilder.Name }}Builder) applyDefaults() {
    {{- range .DefaultBuilder.Args }}
    builder.{{ .Name }}({{ .Type }})
    {{- end }}
}
