{{- define "constraints" }}
{{- range . }}
    if !({{ if .IsString }}len([]rune({{ .Name }})){{ else }}{{ .Name }}{{ end }} {{ .Op }} {{ .Arg }}) {
        builder.errors["cog"] = cog.MakeBuildErrors("{{ .Name }}", errors.New("value must be {{ .Op }} {{ .Arg }}"))
        return builder
    }
{{- end }}
{{- end }}
