package cogvariants

type PanelcfgConfig struct {
	Identifier             string
	OptionsUnmarshaler     func(raw []byte) (any, error)
	FieldConfigUnmarshaler func(raw []byte) (any, error)
}

type DataqueryConfig struct {
	Identifier           string
	DataqueryUnmarshaler func(raw []byte) (Dataquery, error)
}

type Dataquery interface {
	ImplementsDataqueryVariant()
}

type Panelcfg interface {
	ImplementsPanelcfgVariant()
}
