package main

import (
	"encoding/json"
	"fmt"
	"log/slog"

	"github.com/grafana/codejen"
	"github.com/grafana/cog/pkg/apiref"
	"github.com/grafana/cog/pkg/ir"
	"github.com/grafana/cog/pkg/ir/transforms"
	"github.com/grafana/cog/pkg/jennies"
	"github.com/grafana/cog/pkg/languages"
	"github.com/grafana/cog/pkg/plugins"
)

const languageName = "{{ .LanguageName }}"

var _ plugins.Language = (*Language)(nil)

type Config struct {
	// TODO: if this language needs configuration, here it goes.
}

type Language struct {
	logger *slog.Logger
}

// ValidateConfig receives the configuration for the current language
// plugin and validates it.
// Invalid configurations will result in an error while this method will
// return nil for valid ones.
func (l *Language) ValidateConfig(cfg map[string]any) error {
	l.logger.Debug("validating config")

	config := Config{}
	if err := mapToStruct(cfg, &config); err != nil {
		return fmt.Errorf("could not map config to struct: %w", err)
	}

	// TODO: verify that the config is valid.

	return nil
}

// NullableConfig describes some properties of nullable types for a given language.
// See also: [languages.NullableConfig]
func (l *Language) NullableConfig(config map[string]any) (languages.NullableConfig, error) {
	l.logger.Debug("fetching NullableConfig")

	// TODO: describes properties of nullable types for the current language.
	return languages.NullableConfig{
		Kinds:         []ir.Kind{ir.KindArray},
		AnyIsNullable: true,
	}, nil
}

// TransformSchemas modifies the input schemas to make them suitable to
// the current language specifically.
//
// These transformations should only alter the schemas to make them
// "compatible" with the target language, NOT to add missing elements or
// fix incorrect ones.
//
// Examples of possible transformations:
//   * [transforms.AnonymousStructsToNamed] can be used for languages that
//     don't support anonymous structures
//   * [transforms.DisjunctionOfConstantsToEnum] for languages that don't
//     support disjunctions (or: union/sum types). See also other
//     Disjunction* transformations.
//   * …
//
// Returns the transformed schemas, or an error.
func (l *Language) TransformSchemas(config map[string]any, schemas ir.Schemas) (ir.Schemas, error) {
	l.logger.Debug("transforming schemas")

	// TODO: apply relevant transformations
	transformations := transforms.Transforms{
		&transforms.AnonymousStructsToNamed{},
		&transforms.DisjunctionOfConstantsToEnum{},
	}

	return transformations.Process(l.logger, schemas)
}

// Generate performs the code generation.
//
// In addition to the codegen context, it receives both the "global"
// configuration (what should be generated) and the language-specific
// configuration.
//
// The context contains intermediate representation (IR) of the schemas and
// builders.
//
// Note: the builders IR is in the context only if builders generation is
// enabled (ie: codegenConfig.Builders == true)
func (l *Language) Generate(codegenConfig languages.Config, cfg map[string]any, context languages.Context) (codejen.Files, error) {
	l.logger.Debug("running the codegen")

	config := Config{}
	if err := mapToStruct(cfg, &config); err != nil {
		return nil, fmt.Errorf("could not map config to struct: %w", err)
	}

	apiRefCollector := apiref.NewAPIReferenceCollector()
	tmpl := initTemplates(apiRefCollector)

	jenny := codejen.JennyList[languages.Context]{}
	jenny.AppendOneToMany(
		// Each jenny (ie: generator) is responsible for generating a kind of
		// output.
		// Here, the `RawTypes` jenny generates types (if requested by the
		// codegen pipeline)
		jennies.If(codegenConfig.Types, RawTypes{
			tmpl: tmpl,
		}),

		// TODO: when requested, generate builders/API reference/…
	)

	jenny.AddPostprocessors(jennies.GeneratedCommentHeader(codegenConfig.Debug))

	return jenny.Generate(context)
}

// mapToStruct converts any value to JSON and back again, effectively mapping
// a value to a struct.
func mapToStruct(from any, to any) error {
	payload, err := json.Marshal(from)
	if err != nil {
		return err
	}

	return json.Unmarshal(payload, to)
}
