/generated
/workspace
/build
/examples/*/vendor
/.devbox
/gradle.properties
/config/devbox/gradle.properties
/config/devbox/.devbox
/vendor
/cog
/docs-site

# Java building folders
.gradle/
build/

.idea

dist/
