name: PHP CI
on:
  pull_request: ~

env:
  PHP_VERSION: '8.3'

jobs:
  php:
    name: PHP
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP {{ `${{ env.PHP_VERSION }}` }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: {{ `${{ env.PHP_VERSION }}` }}
          tools: phpstan, psalm
          extensions: none, curl, ctype, dom, mbstring, opcache, simplexml, tokenizer
          ini-values: opcache.enable_cli=1

      - name: Install dependencies
        run: |
          cd php
          composer install

      - name: Lint generated PHP code with phpstan
        run: phpstan analyze --memory-limit 256M -c .config/ci/php/phpstan.neon

      - name: Lint generated PHP code with psalm
        run: psalm -c .config/ci/php/psalm.xml php
