package {{ .Package }};

{{ .Imports }}
public class {{ .Name }}{{ if .Extends }} extends {{ range $i, $e := .Extends }}{{ if gt $i 0 }}, {{ end }}{{ $e }}{{ end }}{{ end }} {
    {{- range .Fields }}
    private {{ .Type }} {{ .Name }};
    {{- end }}

    {{- range .InnerClasses }}
    {{- template "inner_class" . }}
    {{- end }}
}

{{- define "inner_class" }}
class {{ .Name }} {
    {{- range .Fields }}
    private {{ .Type }} {{ .Name }};
    {{- end }}

    {{- range .InnerClasses }}
    {{- template "inner_class" . }}
    {{- end }}
}
{{- end }}
