package {{ .Package }};

{{ .Imports }}
public class {{ .Name }}{{ if .Extends }} extends {{ range $i, $e := .Extends }}{{ if gt $i 0 }}, {{ end }}{{ $e }}{{ end }}{{ end }} {
    {{- template "types" dict "Fields" .Fields "GenGettersAndSetters" .GenGettersAndSetters }}

    {{- range .InnerClasses }}
    {{- template "inner_class" . }}
    {{- end }}
}

{{- define "inner_class" }}
    class {{ .Name }} {
        {{- template "types" dict "Fields" .Fields "GenGettersAndSetters" .GenGettersAndSetters }}

        {{- range .InnerClasses }}
        {{- template "inner_class" . }}
        {{- end }}
    }
{{- end }}


{{- define "types" }}
    {{- range .Fields }}
    private {{ .Type }} {{ .Name }};
    {{- end }}
    {{ if .GenGettersAndSetters }}
    {{- range .Fields }}
    public void set{{ .Name | camelcase }}({{ .Type }} {{ .Name }}) {
        this.{{ .Name }} = {{ .Name }};
    }
    {{ end }}
    {{- range .Fields }}
    public {{ .Type }} get{{ .Name }}() {
        return {{ .Name }};
    }
    {{ end }}
    {{- end }}
{{- end }}
