{{- define "inner_class" }} class {{ .Name }} {
    {{- range .Fields }}
    private {{ .Type }} {{ .Name }};
    {{- end }}

    {{- range .InnerClasses }}
    {{- template "inner_class" . }}
    {{- end }}
}
{{- end }}


