{{- range $alias, $importPath := .Imports }}
import * as {{ $alias }} from '{{ $importPath }}';
{{- end }}
import { CogOptionsBuilder } from '../../options_builder_gen';

export class {{ .Name }}Builder implements CogOptionsBuilder<{{ .ImportAlias }}.{{ .Name }}> {
    private internal: {{ .ImportAlias }}.{{ .Name }};

    constructor({{ template "args" .Constructor.Args }}) {
        this.internal = {{ .ImportAlias }}.default{{ .Name | upperCamelCase }}();
        {{- range $arg := .Constructor.Assignments }}
        {{- template "constraints" $arg.Constraints }}
        this.internal.{{ $arg.Path }} = {{ $arg.Value }};
        {{- end }}
    }

    build(): {{ .ImportAlias }}.{{ .Name }} {
        return this.internal;
    }

{{ range .Options }}
    {{- range .Comments}}
    // {{ . }}
    {{- end }}
    {{ .Name }}({{ template "args" .Args }}): this {
{{- range .Assignments }}
{{- range .InitSafeguards }}
{{ . }}
{{- end }}
{{- template "constraints" .Constraints }}
        this.internal.{{ .Path }} = {{ .Value }}{{ if .IsBuilder }}.build(){{ end }};
{{ end }}
        return this;
    }
{{ end }}

}
