{{- define "constraints" }}
    {{- range $c := . }}
        {{- $leftOperand := .Argument.Name|formatIdentifier }}
        {{- $operator := .Op }}

        {{- if eq .Op "minLength" }}
            {{- $leftOperand = print $leftOperand ".length" }}
            {{- $operator = ">=" }}
        {{- end }}
        {{- if eq .Op "maxLength" }}
            {{- $leftOperand = print $leftOperand ".length" }}
            {{- $operator = "<=" }}
        {{- end }}
        {{- if eq .Op "=~" }}
        if (!(new RegExp("{{ .Parameter }}").test({{ $leftOperand }}))) {
            throw new Error("{{ $leftOperand }} must match regex {{ .Parameter }}");
        }
        {{- else if eq .Op "!~" }}
        if ((new RegExp("{{ .Parameter }}").test({{ $leftOperand }}))) {
            throw new Error("{{ $leftOperand }} must not match regex {{ .Parameter }}");
        }
        {{- else }}
        if (!({{ $leftOperand }} {{ $operator }} {{ .Parameter }})) {
            throw new Error("{{ $leftOperand }} must be {{ $operator }} {{ .Parameter }}");
        }
        {{- end }}
    {{- end }}
{{- end }}
