{{- define "factory" }}
{{- $builderPkg := "" }}
{{- if ne .Builder.Package .Factory.BuilderRef.ReferredPkg }}
{{- $builderPkg = .Factory.BuilderRef.ReferredPkg|importPkg -}}
{{- end }}
{{- with .Factory.Comments}}
/**
{{- range . }}
 * {{ . }}{{ end }}
 */
{{- end }}
export function {{ .Factory.Name|lowerCamelCase}}({{- template "args" .Factory.Args }}): {{ if ne $builderPkg "" -}}{{ .Factory.BuilderRef|formatRef }}{{ else }}{{ .Builder.Name|upperCamelCase }}Builder{{ end }} {
	const builder = new {{ if ne $builderPkg "" -}}{{ $builderPkg }}.{{ end }}{{ .Factory.BuilderRef.ReferredType|upperCamelCase }}Builder();

{{- range $call := .Factory.OptionCalls }}
	builder.{{ $call.Name|formatIdentifier }}({{- range $i, $param := $call.Parameters }}{{- if gt $i 0 }}, {{ end }}{{ template "factory_parameter_value" (dict "Value" $param) -}}{{- end }});
{{- end }}

	return builder;
}
{{ end }}

{{- define "factory_parameter_value" }}
	{{- if not (eq .Value.Constant nil) -}}
		{{- formatValue .Value.Constant.Type .Value.Constant.Value }}
	{{- end }}
	{{- if not (eq .Value.Argument nil) -}}
		{{- .Value.Argument.Name|formatIdentifier -}}{{ if .Value.ForceBuild }}.build(){{ end }}
	{{- end -}}
	{{- with .Value.Factory -}}
		{{- $pkg := .Ref.Package|importPkg -}}
		{{- if ne $pkg "" -}}{{ $pkg }}.{{- end -}}
		{{ .Ref.Factory|lowerCamelCase }}({{ range $i, $arg := .Parameters }}{{- if gt $i 0 }}, {{ end }}{{ template "factory_parameter_value" (dict "Value" $arg)}}{{ end }})
	{{- end -}}
{{- end }}
