{{- range $alias, $importPath := .Imports }}
import * as {{ $alias }} from '{{ $importPath }}';
{{- end }}

{{- range $object := .Objects }}
{{- range $c := $object.Comments }}
// {{ $c }}
{{- end }}
{{ $object.Type }} {{$object.Name }} {{ $object.Type | setOperator }}{{ $object.Value }}{{ $object.Type | setCloser }}
{{- if $object.HasDefault }}
export const default{{ $object.Name | upperCamelCase }} = (): {{ $object.Name }} => ({{ $object.DefaultValue }}{{- end }});
{{ end }}



