{{- define "pre_assignment_Dashboard_WithRow" }}

    // Position the row on the grid
    rowPanelResource.GridPos = &GridPos{
        X: 0, // beginning of the line
        Y: builder.currentY + builder.lastPanelHeight,

        H: 1,
        W: 24, // full width
    }
{{- end }}

{{- define "post_assignment_Dashboard_WithRow" }}

    // Reset the state for the next row
	builder.currentX = 0
	builder.currentY = rowPanelResource.GridPos.Y + 1
	builder.lastPanelHeight = 0
{{- end }}
