{{- define "object_dashboard_DataSourceRef_custom_unmarshal" }}
{{- /* Non-standard unmarshalling, to support "legacy" datasource references. ie: older versions of Grafana reference datasources directly by their name */ -}}
func (resource *DataSourceRef) UnmarshalJSON(raw []byte) error {
    if raw == nil {
        return nil
    }

    if raw[0] == '"' {
        var datasourceUid string
        if err := json.Unmarshal(raw, &datasourceUid); err != nil {
            return err
        }
        resource.Uid = &datasourceUid
    } else {
        type original DataSourceRef

        if err := json.Unmarshal(raw, (*original)(resource)); err != nil {
            return err
        }
    }

    return nil
}

{{ end }}
