{{- define "builder" }}
    public static class {{ .BuilderName }}Builder {
        private {{ .Builder.ObjectName }} internal;
        
        {{- range .Builder.Properties }}
        private {{ .Type | formatBuilderFieldType }} {{ .Name | escapeVar }};
        {{- end }}
        
        public {{ .BuilderName }}Builder({{- template "args" .Builder.Constructor.Args }}) {
            this.internal = new {{ .Builder.ObjectName }}();
        {{- range .Builder.Constructor.Assignments }}
            {{- template "assignment" (dict "Assignment" . "BuilderName" $.BuilderName "OptionName" "") }}
        {{- end }}
        
        {{- range .Builder.Defaults }}
        this.set{{ .OptionName }}({{ .Args|join ", " }});
        {{- end }}
        }
        
    {{- range $opt := .Builder.Options }}
    public {{ $.BuilderName }}Builder set{{ .Name | upperCamelCase }}({{- template "args" .Args }}) {
        {{- range .Assignments }}
            {{- template "assignment" (dict "Assignment" . "BuilderName" $.Builder.BuilderName "OptionName" $opt.Name) }}
        {{- end }}
        return this;
    }
    {{ end -}}
        
        public {{ .Builder.ObjectName }} build() {
            return this.internal;
        }
    }
{{- end }}
