package {{ .Package }};
{{- $class := include "class" . }}

import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.core.JsonProcessingException;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.fasterxml.jackson.databind.ObjectWriter;
{{ .Imports }}

{{- $class }}

{{- define "class" }}
{{- range .Comments }}
// {{ . }}
{{- end }}
public class {{ .Name }}{{ if .Extends }} extends {{ range $i, $e := .Extends }}{{ if gt $i 0 }}, {{ end }}{{ $e }}{{ end }}{{ end }}{{ if .Variant }} implements {{ .Variant }}{{ end }} {
    {{- template "types" dict "Fields" .Fields }}

    public String ToJSON() throws JsonProcessingException {
        ObjectWriter ow = new ObjectMapper().writer().withDefaultPrettyPrinter();
        return ow.writeValueAsString(this);
    }

    {{- if and .HasBuilder (not .Extends) }}
    {{ template "builder" .Builder }}
    {{- end }}
    
}
{{- end }}

{{- define "types" }}
    {{- range .Fields }}
    {{- range .Comments }}
    // {{ . }}
    {{- end }}
    @JsonProperty("{{ .Name }}")
    public {{ .Type }} {{ .Name | escapeVar }};

    {{- end }}
{{- end }}
