package {{ .Package }};

{{- $panelBuilder := include "panelBuilder" . }}

{{ .Imports }}

{{- $panelBuilder }}

{{- define "panelBuilder" }}
public class {{ .BuilderName }}Builder {
    private {{ .ObjectName }} internal;

    public {{ .BuilderName }}Builder({{- template "args" .Constructor.Args }}) {
        this.internal = new {{ .ObjectName }}();
        {{- range .Constructor.Assignments }}
            {{- template "assignment" (dict "Assignment" . "BuilderName" $.BuilderName "OptionName" "") }}
        {{- end }}
        
        {{- range .Defaults }}
        this.set{{ .OptionName }}({{ .Args|join ", " }});
        {{- end }}
    }
    
    {{- range .Options }}
    public {{ $.BuilderName }}Builder set{{ .Name | upperCamelCase }}({{- template "args" .Args }}) {
        {{- range .Assignments }}
            {{- template "assignment" (dict "Assignment" . "BuilderName" "PanelBuilder" "OptionName" "Panel") }}
        {{- end }}
        return this;
    }
    {{- end }}
    
    public {{ .ObjectName }} build() {
        return this.internal;
    }
}
{{- end }}
