package {{ .Package }};

{{- $panelBuilder := include "panelBuilder" . }}

{{ .Imports }}

{{- $panelBuilder }}

{{- define "panelBuilder" }}
public class PanelBuilder implements {{ .ImportAlias }}<Panel> {
    private Panel internal;

    public PanelBuilder({{- template "args" .Constructor.Args }}) {
        this.internal = new Panel();
        {{- range .Constructor.Assignments }}
            {{- template "assignment" (dict "Assignment" . "BuilderName" $.BuilderName "OptionName" "") }}
        {{- end }}
        
        {{- range .Defaults }}
        this.set{{ .OptionName }}({{ .Args|join ", " }});
        {{- end }}
    }
    
    {{- range .Options }}
    public PanelBuilder set{{ .Name | upperCamelCase }}({{- template "args" .Args }}) {
        {{- range .Assignments }}
            {{- template "assignment" (dict "Assignment" . "BuilderName" "PanelBuilder" "OptionName" "Panel") }}
        {{- end }}
        return this;
    }
    {{- end }}
    
    public Panel build() {
        return this.internal;
    }
}
{{- end }}
