package {{ .Package }};

{{ .Imports }}

public class DataqueryConfig {
    private final Class<? extends Dataquery> dataquery;
    {{ if .ShouldAddConverters }}private final Converter<Dataquery> converter;{{ end }}

    public DataqueryConfig(Class<? extends Dataquery> dataquery{{ if .ShouldAddConverters }}, Converter<Dataquery> converter{{ end }}) {
        this.dataquery = dataquery;
        {{ if .ShouldAddConverters }}this.converter = converter;{{ end }}
    }

    public Class<? extends Dataquery> getDataquery() {
        return dataquery;
    }
    
    {{- if .ShouldAddConverters }}
    public Converter<Dataquery> getConverter() {
        return converter;
    }
    {{- end }}
}
