package {{ .Package }};

public class DataqueryConfig {
    private final Class<? extends Dataquery> dataquery;

    public DataqueryConfig(Class<? extends Dataquery> dataquery) {
        this.dataquery = dataquery;
    }

    public Class<? extends Dataquery> getDataquery() {
        return dataquery;
    }
}
