package {{ .Package }};

import com.fasterxml.jackson.databind.annotation.JsonSerialize;

import java.util.HashMap;
import java.util.Map;

@JsonSerialize(using = EmptyDataquerySerializer.class)
public class EmptyDataquery implements Dataquery {
    public final Map<String, Object> genericFields = new HashMap<>();
}
