package {{ .Package }};

public class PanelConfig {
    private final Class<?> optionsClass;
    private final Class<?> fieldConfigClass;

    public PanelConfig(Class<?> optionsClass, Class<?> fieldConfigClass) {
        this.optionsClass = optionsClass;
        this.fieldConfigClass = fieldConfigClass;
    }

    public Class<?> getOptionsClass() {
        return optionsClass;
    }

    public Class<?> getFieldConfigClass() {
        return fieldConfigClass;
    }
}
