package {{ .Package }};

public class PanelConfig {
    private final Class<?> optionsClass;
    private final Class<?> fieldConfigClass;
    {{- if .ShouldAddConverters }}
    private final Class<?> converter;
    {{- end }}

    public PanelConfig(Class<?> optionsClass, Class<?> fieldConfigClass, Class<?> converter) {
        this.optionsClass = optionsClass;
        this.fieldConfigClass = fieldConfigClass;
        {{- if .ShouldAddConverters }}
        this.converter = converter;
        {{- end }}
    }

    public Class<?> getOptionsClass() {
        return optionsClass;
    }

    public Class<?> getFieldConfigClass() {
        return fieldConfigClass;
    }
    
    {{- if .ShouldAddConverters }}
    public Class<?> getConverter() {
        return converter;
    }
    {{- end }}
}
