{{- define "assignment" }}
{{- include "constraints" .Assignment.Constraints }}

{{- range .Assignment.InitSafeguards }}
{{ . }}
{{- end }}

{{- template "assignment_setup" (dict "Value" .Assignment.Value) -}}
{{- $value := include "assignment_value" (dict "Assignment" .Assignment "Value" .Assignment.Value) -}}

{{- $preTmpl := print "pre_assignment_" .Builder.BuilderName "_" .Option.Name }}
{{- includeIfExists $preTmpl (dict) -}}

{{ template "assignment_method" (dict "Method" .Assignment.Method "Path" .Assignment.Path "Value" $value) }}

{{- $postTmpl := print "post_assignment_" .Builder.BuilderName "_" .Option.Name }}
{{- includeIfExists $postTmpl (dict) -}}
{{- end }}

{{- define "assignment_setup" }}
{{- with .Value.Argument }}
{{- if or (typeHasBuilder .Type) (resolvesToComposableSlot .Type) }}
{{- $builtResultSuffix := ternary "_resources" "_resource" .Type.IsArray }}
{{ .Name|formatIdentifier }}{{ $builtResultSuffix }} = {{ template "unfold_builders" (dict "InputType" .Type "InputVar" (formatIdentifier .Name) "Depth" 1) }}
{{- end }}
{{- end }}
{{- with .Value.Envelope }}
{{- range .Values }}
{{- template "assignment_setup" (dict "Value" .Value) }}
{{- end }}
{{- end }}
{{- end }}

{{- define "unfold_builders" }}
{{- if .InputType.IsArray -}}
[{{ template "unfold_builders" (dict "InputType" .InputType.Array.ValueType "InputVar" (print "r" .Depth ) "Depth" (add1 .Depth)) }} for r{{ .Depth }} in {{ .InputVar }}]
{{- else -}}
{{ .InputVar }}.build()
{{- end -}}
{{- end }}

{{- define "assignment_value" }}
{{- if not (eq .Value.Constant nil) }}
{{- formatValue .Assignment.Path.Last.Type .Value.Constant }}
{{- end }}
{{- with .Value.Argument }}
{{- if or (typeHasBuilder .Type) (resolvesToComposableSlot .Type) }}
{{- .Name|formatIdentifier }}{{- .Type.IsArray | ternary "_resources" "_resource" }}
{{- else }}
{{- .Name|formatIdentifier }}
{{- end }}
{{- end }}
{{- with .Value.Envelope }}
{{- template "value_envelope" (dict "Assignment" $.Assignment "Envelope" .) }}
{{- end }}
{{- end }}

{{- define "value_envelope" }}
{{- .Envelope.Type | formatRawType }}(
{{- range .Envelope.Values }}
    {{- $value := include "assignment_value" (dict "Assignment" $.Assignment "Value" .Value) }}
    {{ (index .Path 0).Identifier | formatIdentifier }}={{ $value }},
{{- end }}
)
{{- end }}

{{- define "assignment_method" }}
{{ if eq .Method "direct" }}self.__internal.{{ .Path|formatPath }} = {{ .Value }}{{ end -}}
{{ if eq .Method "append" }}self.__internal.{{ .Path|formatPath }}.append({{ .Value }}){{ end -}}
{{- end }}
