{{- define "assignment" }}
{{- include "constraints" .Assignment.Constraints }}

{{- range .Assignment.InitSafeguards }}
{{ . }}
{{- end }}

{{- template "assignment_setup" (dict "Value" .Assignment.Value) -}}
{{- $value := include "assignment_value" (dict "Assignment" .Assignment "Value" .Assignment.Value) -}}

{{ template "assignment_method" (dict "Method" .Assignment.Method "Path" .Assignment.Path "Value" $value) }}
{{- end }}

{{- define "assignment_setup" }}
{{- with .Value.Argument }}
{{- if or (typeHasBuilder .Type) (resolvesToComposableSlot .Type) }}
{{- if .Type.IsArray }}
{{ .Name|formatIdentifier }}_resources = [r.build() for r in {{ .Name|formatIdentifier }}]
{{- else }}
{{ .Name|formatIdentifier }}_resource = {{ .Name|formatIdentifier }}.build()
{{- end }}
{{- end }}
{{- end }}
{{- with .Value.Envelope }}
{{- range .Values }}
{{- template "assignment_setup" (dict "Value" .Value) }}
{{- end }}
{{- end }}
{{- end }}

{{- define "assignment_value" }}
{{- if not (eq .Value.Constant nil) }}
{{- formatValue .Assignment.Path.Last.Type .Value.Constant }}
{{- end }}
{{- with .Value.Argument }}
{{- if or (typeHasBuilder .Type) (resolvesToComposableSlot .Type) }}
{{- .Name|formatIdentifier }}{{- .Type.IsArray | ternary "_resources" "_resource" }}
{{- else }}
{{- .Name|formatIdentifier }}
{{- end }}
{{- end }}
{{- with .Value.Envelope }}
{{- template "value_envelope" (dict "Assignment" $.Assignment "Envelope" .) }}
{{- end }}
{{- end }}

{{- define "value_envelope" }}
{{- .Envelope.Type | formatRawType }}(
{{- range .Envelope.Values }}
    {{- $value := include "assignment_value" (dict "Assignment" $.Assignment "Value" .Value) }}
    {{ (index .Path 0).Identifier | formatIdentifier }}={{ $value }},
{{- end }}
)
{{- end }}

{{- define "assignment_method" }}
{{ if eq .Method "direct" }}self.__internal.{{ .Path|formatPath }} = {{ .Value }}{{ end -}}
{{ if eq .Method "append" }}self.__internal.{{ .Path|formatPath }}.append({{ .Value }}){{ end -}}
{{- end }}
