class {{ .BuilderName }}(cogbuilder.Builder[{{ .BuilderSignatureType }}]):
    {{- include "comments" . | indent 4 }}
    _internal: {{ .BuilderSignatureType }}
    {{- range .Properties }}
    __{{ .Name|formatIdentifier }}: {{ .Type | formatType }} = {{ defaultForType .Type }}
    {{- end }}

    def __init__(self{{- template "args" .Constructor.Args }}):
        self._internal = {{ .ObjectName }}()
{{- range .Constructor.Assignments }}
{{- include "assignment" (dict "Assignment" . "Builder" $ "Option" (dict "Name" ""))|indent 8 }}
{{- end }}

    def build(self) -> {{ .ObjectName }}:
        """
        Builds the object.
        """
        return self._internal

{{- include "options" . | indent 4 -}}
