class {{ .BuilderName }}(cogbuilder.Builder[{{ .BuilderSignatureType }}]):
    {{- include "comments" . | indent 4 }}
    __internal: {{ .BuilderSignatureType }}

    def __init__(self{{- template "args" .Constructor.Args }}):
        self.__internal = {{ .ObjectName }}()
{{- range .Constructor.Assignments }}
{{- include "assignment" (dict "Assignment" .)|indent 8 }}
{{- end }}

    def build(self) -> {{ .ObjectName }}:
        return self.__internal

{{- include "options" . | indent 4 -}}
