{{- define "nil_check" -}}
if self._internal.{{ .Path|formatPath }} is None:
    self._internal.{{ .Path|formatPath }} = {{ .EmptyValueType|defaultForType }}
{{ if not .EmptyValueType.IsArray }}assert isinstance(self._internal.{{ .Path|formatPath }}, {{.EmptyValueType|formatRawTypeNotNullable}}){{ end }}
{{- end }}
