{{- define "options" }}
{{ range .Options }}
def {{ .Name|formatIdentifier }}(self{{- template "args" .Args }}) -> typing.Self:
    {{- include "comments" . | indent 4 }}
    {{- range .Assignments }}
    {{- include "assignment" (dict "Assignment" .) | indent 4 }}
    {{- end }}

    return self
{{ end }}
{{- end -}}
