# yaml-language-server: $schema=https://raw.githubusercontent.com/grafana/cog/main/schemas/pipeline.json

debug: true

parameters:
  output_dir: './generated/%l'
  kind_registry_path: '../kind-registry'
  kind_registry_version: 'next'
  grafana_version: 'main'
  go_package_root: 'github.com/grafana/cog/generated/go'
  php_namespace_root: 'Grafana\Foundation'
  java_package_path: 'com.grafana.foundation'

inputs:
  - kind_registry:
      path: '%kind_registry_path%'
      version: '%kind_registry_version%'
      transformations:
        - '%__config_dir%/foundation-sdk/.cog/compiler/kind_registry.yaml'
  - openapi:
      url: 'https://raw.githubusercontent.com/grafana/grafana/%grafana_version%/public/openapi3.json'
      no_validate: true
      package: dashboard
      metadata:
        kind: core
        identifier: Dashboard
      allowed_objects:
        - DashboardMeta

  - jsonschema:
      url: 'https://raw.githubusercontent.com/grafana/grafana/main/pkg/expr/query.request.schema.json'
      package: expr
      metadata:
        kind: composable
        variant: dataquery
        identifier: __expr__
      transformations:
        - '%__config_dir%/foundation-sdk/.cog/compiler/expr_passes.yaml'

  - openapi:
      url: 'https://raw.githubusercontent.com/grafana/grafana/%grafana_version%/public/openapi3.json'
      no_validate: true
      package: alerting
      metadata:
        kind: core
        identifier: AlertRuleGroup
      allowed_objects:
        - AlertRuleGroup
        - EmbeddedContactPoint
        - Route
        - MuteTimeInterval
        - NotificationTemplate
        - TimeRange
      transformations:
        - '%__config_dir%/foundation-sdk/.cog/compiler/alerting.yaml'

  # The schema for teams is gone from the kind-registry since v11.2.x
  - if: '"%grafana_version%" == "main" || semver("%grafana_version%").MoreThanEqual(semver("v11.2.x"))'
    openapi:
      url: 'https://raw.githubusercontent.com/grafana/grafana/%grafana_version%/public/openapi3.json'
      no_validate: true
      package: team
      metadata:
        kind: core
        identifier: Team
      allowed_objects:
        - CreateTeamCommand
      transformations:
        - '%__config_dir%/foundation-sdk/.cog/compiler/team.yaml'

  # The schema for testdata queries is gone from the kind-registry since v11.0.x
  - if: '"%grafana_version%" == "main" || semver("%grafana_version%").MoreThanEqual(semver("v11.0.x"))'
    jsonschema:
      url: 'https://raw.githubusercontent.com/grafana/grafana/%grafana_version%/pkg/tsdb/grafana-testdata-datasource/kinds/query.panel.schema.json'
      package: testdata
      metadata:
        kind: composable
        variant: dataquery
        identifier: testdata
      transformations:
        - '%__config_dir%/foundation-sdk/.cog/compiler/testdata_passes.yaml'

  # The schema for prometheus queries is gone from the kind-registry since v11.0.x
  - if: '"%grafana_version%" == "main" || semver("%grafana_version%").MoreThanEqual(semver("v11.0.x"))'
    kindsys_composable:
      entrypoint: '%__config_dir%/foundation-sdk/.cog/schemas/composable/prometheus'
      metadata:
        kind: composable
        variant: dataquery
        identifier: prometheus
      cue_imports:
        - '%kind_registry_path%/grafana/%kind_registry_version%/common:github.com/grafana/grafana/packages/grafana-schema/src/common'
      transformations:
        - '%__config_dir%/foundation-sdk/.cog/compiler/prometheus.yaml'

  # The schema for bigquery queries
  - cue:
      entrypoint: '%__config_dir%/foundation-sdk/.cog/schemas/composable/bigquery'
      metadata:
        kind: composable
        variant: dataquery
        identifier: grafana-bigquery-datasource
      cue_imports:
        - '%kind_registry_path%/grafana/%kind_registry_version%/common:github.com/grafana/grafana/packages/grafana-schema/src/common'

  # The schema for athena queries
  - cue:
      entrypoint: '%__config_dir%/foundation-sdk/.cog/schemas/composable/athena'
      metadata:
        kind: composable
        variant: dataquery
        identifier: grafana-athena-datasource
      cue_imports:
        - '%kind_registry_path%/grafana/%kind_registry_version%/common:github.com/grafana/grafana/packages/grafana-schema/src/common'
      transformations:
        - '%__config_dir%/foundation-sdk/.cog/compiler/athena.yaml'

  # The schema for "datasource" queries
  - cue:
      entrypoint: '%__config_dir%/foundation-sdk/.cog/schemas/composable/datasource'
      metadata:
        kind: composable
        variant: dataquery
        identifier: datasource
      cue_imports:
        - '%kind_registry_path%/grafana/%kind_registry_version%/common:github.com/grafana/grafana/packages/grafana-schema/src/common'

  # The schema for "datasource" queries
  - cue:
      entrypoint: '%__config_dir%/foundation-sdk/.cog/schemas/composable/datasource'
      metadata:
        kind: composable
        variant: dataquery
        identifier: datasource
      cue_imports:
        - '%kind_registry_path%/grafana/%kind_registry_version%/common:github.com/grafana/grafana/packages/grafana-schema/src/common'

  # Dashboard v2 appears with v12.0.x
  - if: '"%grafana_version%" == "main" || semver("%grafana_version%").MoreThanEqual(semver("v12.0.x"))'
    cue:
      url: 'https://raw.githubusercontent.com/grafana/grafana/%grafana_version%/apps/dashboard/kinds/v2beta1/dashboard_spec.cue'
      package: dashboardv2beta1
      metadata:
        kind: core
      transformations:
        - '%__config_dir%/foundation-sdk/.cog/compiler/dashboardv2beta1.yaml'

  # The schema for units
  - cue:
      entrypoint: '%__config_dir%/foundation-sdk/.cog/schemas/units'

  # The schema for resource manifests
  - cue:
      entrypoint: '%__config_dir%/foundation-sdk/.cog/schemas/resource'

transformations:
  schemas:
    - '%__config_dir%/foundation-sdk/.cog/compiler/common_passes.yaml'
    - '%__config_dir%/foundation-sdk/.cog/compiler/dataqueries.yaml'
    - '%__config_dir%/foundation-sdk/.cog/compiler/dataqueries_refid.yaml'

  builders:
    - '%__config_dir%/foundation-sdk/.cog/veneers'
    - '%__config_dir%/foundation-sdk/.cog/veneers/dashboardv2'

  converters: '%__config_dir%/foundation-sdk/.cog/converters/config.yaml'

output:
  directory: '%output_dir%'

  types: true
  builders: true
  converters: true
  api_reference: true

  templates_data:
    GrafanaVersion: '%kind_registry_version%'
    ReleaseBranch: 'release_branch_name'
    CogVersion: 'snapshot'
    BuildTimestamp: '1733964347'

  languages:
    - go:
        package_root: '%go_package_root%'
        extra_files_templates:
          - '%__config_dir%/foundation-sdk/.cog/templates/go/extra'
        overrides_templates:
          - '%__config_dir%/foundation-sdk/.cog/templates/go/overrides'
        generate_json_marshaller: true
        generate_strict_unmarshaller: true
        generate_equal: true
        generate_validate: true
    - jsonschema: {}
    - openapi: {}
    - php:
        namespace_root: '%php_namespace_root%'
        generate_json_marshaller: true
        extra_files_templates:
          - '%__config_dir%/foundation-sdk/.cog/templates/php/extra'
        overrides_templates:
          - '%__config_dir%/foundation-sdk/.cog/templates/php/overrides'
    - python:
        path_prefix: grafana_foundation_sdk
        generate_json_marshaller: true
        extra_files_templates:
          - '%__config_dir%/foundation-sdk/.cog/templates/python/extra'
        overrides_templates:
          - '%__config_dir%/foundation-sdk/.cog/templates/python/overrides'
    - typescript:
        extra_files_templates:
          - '%__config_dir%/foundation-sdk/.cog/templates/typescript/extra'
        overrides_templates:
          - '%__config_dir%/foundation-sdk/.cog/templates/typescript/overrides'
    - java:
        package_path: '%java_package_path%'
        generate_json_marshaller: true
        extra_files_templates:
          - '%__config_dir%/foundation-sdk/.cog/templates/java/extra'
        overrides_templates:
          - '%__config_dir%/foundation-sdk/.cog/templates/java/overrides'
