const panelcfgVariants: Record<string, any> = {};
const dataqueryVariants: Record<string, any> = {};

export const ConvertPanelToCode = (inputPanel: any, panelType: string): string => {
    return "";
};


export const ConvertDataqueryToCode = (inputQuery: any, ...queryTypeHint: string[]): string => {
    return "";
};
