{{- define "assignment" }}
    {{- template "constraints" .Assignment.Constraints }}
    {{- range .Assignment.InitSafeguards }}
    {{ . }}
    {{- end }}

    {{- template "assignment_setup" (dict "Assignment" .Assignment "Value" .Assignment.Value) -}}

    {{- $value := include "assignment_value" (dict "Assignment" .Assignment "Value" .Assignment.Value) -}}

    {{- $preTmpl := print "pre_assignment_" .Builder.BuilderName "_" .Option.Name }}
    {{- includeIfExists $preTmpl (dict) -}}

    {{- template "assignment_method" (dict "Method" .Assignment.Method "Path" .Assignment.Path "Value" $value) }}

    {{- $postTmpl := print "post_assignment_" .Builder.BuilderName "_" .Option.Name }}
    {{- includeIfExists $postTmpl (dict) -}}
{{- end }}

{{- define "assignment_value" }}
    {{- if not (eq .Value.Constant nil) }}
        {{- if isNullableNonArray .Assignment.Path.Last.Type }}
            {{- print "&val" (.Assignment.Path.Last.Identifier | upperCamelCase) }}
        {{- else }}
            {{- formatScalar .Value.Constant }}
        {{- end }}
    {{- end }}
    {{- with .Value.Argument }}
        {{- $argName := formatArgName .Name }}

        {{- if or (typeHasBuilder .Type) (resolvesToComposableSlot .Type) }}
            {{- $argName = .Type.IsArray | ternary (print $argName "Resources") (print $argName "Resource") }}
        {{- end }}

        {{- maybeAsPointer (isNullableNonArray $.Assignment.Path.Last.Type) $argName }}
    {{- end }}
    {{- with .Value.Envelope }}
        {{- template "value_envelope" (dict "Assignment" $.Assignment "Envelope" .) }}
    {{- end }}
{{- end }}

{{- define "assignment_setup" }}
    {{- if not (eq .Value.Constant nil) }}
        {{- if .Assignment.Path.Last.Type.Nullable }}
            val{{ .Assignment.Path.Last.Identifier | upperCamelCase }} := {{ formatScalar .Value.Constant }}
        {{- end }}
    {{- end }}
    {{- with .Value.Argument }}
        {{- if or (typeHasBuilder .Type) (resolvesToComposableSlot .Type) }}
        {{- $builtResultName := (print (formatArgName .Name) "Resource") }}
        {{- if .Type.IsArray }}
        {{ formatArgName .Name}}Resources := make({{ .Type | formatTypeNoBuilder }}, 0, len({{ formatArgName .Name}}))
        {{- $builtResultName = (print (formatArgName .Name) "Resources") }}
        {{- end }}

        {{- template "unfold_builders" (dict "Depth" 1 "InputType" .Type "OriginalInputVar" (formatArgName .Name) "InputVar" (formatArgName .Name) "AssignmentPath" $.Assignment.Path "ResultVar" $builtResultName) }}
        {{- end }}
    {{- end }}
    {{- with .Value.Envelope }}
        {{- range .Values }}
        {{- template "assignment_setup" (dict "Assignment" $.Assignment "Value" .Value) }}
        {{- end }}
    {{- end }}
{{- end }}


{{- define "unfold_builders" }}
    {{- if .InputType.IsArray }}
        for _, r{{ .Depth }} := range {{ .InputVar}} {
            {{- if .InputType.Array.ValueType.IsArray }}
                {{ .OriginalInputVar }}Depth{{ .Depth }} := make({{ .InputType.Array.ValueType | formatTypeNoBuilder }}, 0)

                {{- template "unfold_builders" (dict "Depth" (add1 .Depth) "InputType" .InputType.Array.ValueType "OriginalInputVar" .OriginalInputVar "InputVar" (print "r" .Depth) "AssignmentPath" $.AssignmentPath "ResultVar" (print .OriginalInputVar "Depth" .Depth)) }}

                {{ .ResultVar }} = append({{ .ResultVar}}, {{ .OriginalInputVar }}Depth{{ .Depth }})
            {{- else }}
                {{ .OriginalInputVar }}Depth{{ .Depth }}, err := r{{ .Depth }}.Build()
                if err != nil {
                    builder.errors["{{ .AssignmentPath }}"] = err.(cog.BuildErrors)
                    return builder
                }
                {{ .ResultVar }} = append({{ .ResultVar}}, {{ .OriginalInputVar }}Depth{{ .Depth }})
            {{- end }}
        }
    {{- else }}
    {{ .ResultVar }}, err := {{ .InputVar}}.Build()
    if err != nil {
        builder.errors["{{ .AssignmentPath }}"] = err.(cog.BuildErrors)
        return builder
    }
    {{- end }}
{{- end }}

{{- define "value_envelope" }}
    {{- .Envelope.Type | formatType }}{
        {{- range .Envelope.Values }}
        {{- $value := include "assignment_value" (dict "Assignment" $.Assignment "Value" .Value) }}
        {{- $value = maybeAsPointer (.Path.Last.Type.Nullable) $value }}
        {{ (index .Path 0).Identifier | upperCamelCase }}: {{ $value }},
        {{- end }}
    }
{{- end }}

{{- define "assignment_method" }}
    {{ if eq .Method "direct" }}builder.internal.{{ .Path|formatPath }} = {{ .Value }}{{ end -}}
    {{ if eq .Method "append" }}builder.internal.{{ .Path|formatPath }} = append(builder.internal.{{ .Path|formatPath }}, {{ .Value }}){{ end -}}
{{- end }}
