package {{ .Builder.Package }}
{{ $options := include "options" . }}
{{ .Imports }}

var _ cog.Builder[{{ .BuilderSignatureType }}] = (*{{ .Builder.Name }}Builder)(nil)
{{ range .Builder.For.Comments }}
// {{ . }}
{{- end }}
type {{ .Builder.Name }}Builder struct {
    internal *{{ .ObjectName }}
    errors map[string]cog.BuildErrors

    {{- range .Builder.Properties }}
    {{ .Name }} {{ .Type | formatType }}
    {{- end }}
}

func New{{ .Builder.Name }}Builder({{- template "args" .Builder.Constructor.Args }}) *{{ .Builder.Name }}Builder {
	resource := {{ .ConstructorName }}()
	builder := &{{ .Builder.Name }}Builder{
		internal: resource,
		errors: make(map[string]cog.BuildErrors),
	}

    {{- range .Builder.Constructor.Assignments }}
        {{- template "assignment" (dict "Assignment" . "Builder" $.Builder "Option" (dict "Name" "")) }}
    {{- end }}

	return builder
}

{{ range .Builder.Factories }}
	{{ template "factory" (dict "Builder" $.Builder "Factory" .) }}
{{- end }}

func (builder *{{ .Builder.Name }}Builder) Build() ({{ .BuilderSignatureType }}, error) {
	if err := builder.internal.Validate(); err != nil {
		return {{ .ObjectName }}{}, err
	}

	return *builder.internal, nil
}

{{- $customMethodsTmpl := print "builder_" .Builder.Package "_" (.Builder.Name) "_custom_methods" }}
{{- includeIfExists $customMethodsTmpl (dict) -}}

{{- $options }}
