{{- define "constraints" }}
{{- range . }}
    {{- $errors := importStdPkg "errors" }}
    {{- $argName := .Argument.Name|formatArgName }}
    {{- $leftOperand := $argName }}
    {{- $operator := .Op }}
    {{- if eq .Op "minLength" }}
        {{- $leftOperand = print "len([]rune(" $leftOperand "))" }}
        {{- $operator = ">=" }}
    {{- end }}
    {{- if eq .Op "maxLength" }}
        {{- $leftOperand = print "len([]rune(" $leftOperand "))" }}
        {{- $operator = "<=" }}
    {{- end }}
    if !({{ $leftOperand }} {{ $operator }} {{ .Parameter }}) {
        builder.errors["{{ $argName }}"] = cog.MakeBuildErrors("{{ $argName }}", errors.New("{{ $leftOperand }} must be {{ $operator }} {{ .Parameter }}"))
        return builder
    }
{{- end }}
{{- end }}
