{{- define "options" }}
{{- $builder := . }}
{{ range .Options }}
{{- $option := . }}
{{- range .Comments }}
// {{ . }}
{{- end }}
func (builder *{{ $builder.BuilderName }}Builder) {{ .Name|upperCamelCase }}({{- template "args" .Args }}) *{{ $builder.BuilderName }}Builder {
    {{- range .Assignments }}
        {{- template "assignment" (dict "Assignment" . "Builder" $builder "Option" $option) }}
    {{- end }}

    return builder
}
{{ end }}
{{- end }}
