{{- define "options" }}
{{- $builder := .Builder }}
{{ range $builder.Options }}
{{- $option := . }}
{{- range .Comments }}
// {{ . }}
{{- end }}
func (builder *{{ $builder.Name }}Builder) {{ .Name }}({{- template "args" .Args }}) *{{ $builder.Name }}Builder {
    {{- range .Assignments }}
        {{- template "assignment" (dict "Assignment" . "Builder" $builder "Option" $option) }}
    {{- end }}

    return builder
}
{{ end }}
{{- end }}
