{{- define "object_dashboardv2alpha0_DataQueryKind_custom_unmarshal" }}
/**
 * @param array<string, mixed> $inputData
 */
public static function fromArray(array $inputData): self
{
    /** @var {{ typeShape .Object.Type }} $inputData */
    $data = $inputData;
    return new self(
        {{- range $field := .Object.Type.Struct.Fields }}
        {{ $field.Name }}: {{ if eq $field.Name "spec" -}}
        {{ template "dashboardv2alpha0_DataQueryKind_spec_unmarshal" }}
        {{- else if $field.Type.IsConcreteScalar }}
        {{ continue}}
        {{- else -}}
        {{ unmarshalForType $field.Type (print "$data[\"" $field.Name "\"]") }}
        {{- end -}},
        {{- end }}
   );
}
{{- end }}

{{- define "dashboardv2alpha0_DataQueryKind_spec_unmarshal" -}}
isset($data['spec']) ? (function($input) {
    /** @var array<string, mixed> $spec */
    $spec = $input['spec'];
    return \Grafana\Foundation\Cog\Runtime::get()->dataqueryFromArray($spec, $input['kind'] ?? '');
})($data) : null
{{- end }}
