{{- define "assignment" }}
    {{- template "constraints" .Assignment.Constraints }}
    {{- range .Assignment.InitSafeguards }}
    {{ . }}
    {{- end }}

    {{- $value := include "assignment_value" (dict "Assignment" .Assignment "Value" .Assignment.Value) -}}
    {{- template "assignment_method" (dict "Method" .Assignment.Method "Path" .Assignment.Path "Value" $value) -}}
    
{{- end }}

{{- define "assignment_value" }}
    {{- if not (eq .Value.Constant nil) }}
        {{- formatScalar .Value.Constant }}
    {{- end }}
    {{- with .Value.Argument }}
        {{- escapeVar .Name }}{{ if isBuilder .Name .Type }}.build(){{ end }}
    {{- end }}
    {{- with .Value.Envelope }}
        {{- template "value_envelope" (dict "Assignment" $.Assignment "Envelope" .) }}
    {{- end }}
{{- end }}

{{- define "value_envelope" }}
    {{- .Envelope.Type | formatType }}{
        {{- range .Envelope.Values }}
        {{- $value := include "assignment_value" (dict "Assignment" $.Assignment "Value" .Value) }}
        {{ (index .Path 0).Identifier }} = {{ $value }},
        {{- end }}
    }
{{- end }}

{{- define "assignment_method" }}
    {{ if eq .Method "direct" }}this.{{ .Path.Last.Identifier }} = {{ .Value }};{{ end -}}
    {{ if eq .Method "append" }}this.{{ .Path.Last.Identifier }}.add({{ .Path.Last.Identifier }});{{ end -}}
{{- end }}
