package {{ .Package }};

{{ .Imports }}

{{- $className := .ObjectSignature | lowerCamelCase }}
{{- $builderName := .Name }}
public class {{ .Name }}Builder implements Builder<{{ .ObjectSignature }}> {
    {{- range .Fields }}
    private {{ .Type }} {{ .Name }};
    {{- end }}
    
    public {{ .Name }}Builder() {
    }
    
    {{- range $opt := .Options }}
    public {{ $.Name }}Builder set{{ $opt.Name }}({{ template "args" $opt.Args }}) {
        {{- range .Assignments }}
            {{- template "assignment" (dict "Assignment" . "BuilderName" $builderName "OptionName" $opt.Name) }}
        {{- end }}
        return this;
    }
    {{ end }}
    
    public {{ .ObjectSignature }} build() {
        {{ .ObjectSignature }} {{ $className }} = new {{ .ObjectSignature }}();
        {{- range .Fields }}
        {{ $className }}.set{{ .Name | camelcase }}({{ .Name }});
        {{- end }}
        return {{ $className }};
    }
}
