{{- define "constraints" }}
{{- range . }}
    {{- $leftOperand := .ArgName }}
    {{- $operator := .Op }}
    {{- if eq .Op "minLength" }}
        {{- $leftOperand = print "" .ArgName ".length()" }}
        {{- $operator = ">=" }}
    {{- end }}
    {{- if eq .Op "maxLength" }}
        {{- $leftOperand = print "" .ArgName ".length()" }}
        {{- $operator = "<=" }}
    {{- end }}
    if !({{ $leftOperand }} {{ $operator }} {{ .Parameter }}) {
        return this
    }
{{- end }}
{{- end }}
