parameters:
  level: 9 # https://phpstan.org/user-guide/rule-levels
  paths:
    - ../../../generated/php/src

  ignoreErrors:
    - identifier: identical.alwaysFalse # not a big deal, duplicated enum values come from the schema
      paths:
        - ../../../generated/php/src/Common/ScaleDirection.php
    - identifier: offsetAccess.nonOffsetAccessible
      paths:
        - ../../../generated/php/src/Cog/Runtime.php

    # cog being very defensive isn't a bad thing
    - identifier: isset.variable
    - identifier: instanceof.alwaysTrue
    - identifier: function.alreadyNarrowedType
    - identifier: arrayFilter.same
