{{- define "factory" }}
{{- .Factory.Comments|formatDocsBlock -}}
public static function {{ .Factory.Name|formatOptionName}}({{- template "args" .Factory.Args }}): {{ formatRawRef .Factory.BuilderRef.ReferredPkg (.Factory.BuilderRef.ReferredType|factoryClassForPkg)}}Builder
{
	$builder = new {{ formatRawRef .Factory.BuilderRef.ReferredPkg (.Factory.BuilderRef.ReferredType|factoryClassForPkg)}}Builder();
{{- range $call := .Factory.OptionCalls }}
    $builder->{{ $call.Name|formatOptionName }}({{- range $i, $param := $call.Parameters }}{{ if gt $i 0 }}, {{ end }}{{ template "factory_parameter_value" (dict "Value" $param) }}{{- end }});
{{- end }}
	return $builder;
}
{{- end }}

{{- define "factory_parameter_value" }}
	{{- if not (eq .Value.Constant nil) -}}
		{{- formatValue .Value.Constant.Type .Value.Constant.Value }}
	{{- end }}
	{{- if not (eq .Value.Argument nil) -}}
		${{- .Value.Argument.Name|formatArgName -}}{{ if .Value.ForceBuild }}->build(){{ end }}
	{{- end -}}
	{{- with .Value.Factory -}}
		{{ formatRawRef .Ref.Package (.Ref.Package|factoryClassForPkg)}}::{{ .Ref.Factory|formatOptionName }}({{ range $i, $arg := .Parameters }}{{- if gt $i 0 }}, {{ end }}{{ template "factory_parameter_value" (dict "Value" $arg)}}{{ end }})
	{{- end -}}
{{- end }}
